XamarinMarathon/XamarinMarathon/XamarinMarathon/Service References/Calculator/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tme="http://www.themindelectric.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.parasoft.com/wsdl/calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="Calculator" targetNamespace="http://www.parasoft.com/wsdl/calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.parasoft.com/wsdl/calculator/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:float" />
            <xsd:element name="y" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divide">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numerator" type="xsd:float" />
            <xsd:element name="denominator" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divideResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:float" />
            <xsd:element name="y" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subtract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:float" />
            <xsd:element name="y" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subtractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="add0In">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="add0Out">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="divide1In">
    <wsdl:part name="parameters" element="tns:divide" />
  </wsdl:message>
  <wsdl:message name="divide1Out">
    <wsdl:part name="parameters" element="tns:divideResponse" />
  </wsdl:message>
  <wsdl:message name="multiply2In">
    <wsdl:part name="parameters" element="tns:multiply" />
  </wsdl:message>
  <wsdl:message name="multiply2Out">
    <wsdl:part name="parameters" element="tns:multiplyResponse" />
  </wsdl:message>
  <wsdl:message name="subtract3In">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="subtract3Out">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="add" parameterOrder="x y">
      <wsdl:input name="add0In" message="tns:add0In" />
      <wsdl:output name="add0Out" message="tns:add0Out" />
    </wsdl:operation>
    <wsdl:operation name="divide" parameterOrder="numerator denominator">
      <wsdl:input name="divide1In" message="tns:divide1In" />
      <wsdl:output name="divide1Out" message="tns:divide1Out" />
    </wsdl:operation>
    <wsdl:operation name="multiply" parameterOrder="x y">
      <wsdl:input name="multiply2In" message="tns:multiply2In" />
      <wsdl:output name="multiply2Out" message="tns:multiply2Out" />
    </wsdl:operation>
    <wsdl:operation name="subtract" parameterOrder="x y">
      <wsdl:input name="subtract3In" message="tns:subtract3In" />
      <wsdl:output name="subtract3Out" message="tns:subtract3Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="add" style="document" />
      <wsdl:input name="add0In">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="add0Out">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap:operation soapAction="divide" style="document" />
      <wsdl:input name="divide1In">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="divide1Out">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <soap:operation soapAction="multiply" style="document" />
      <wsdl:input name="multiply2In">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multiply2Out">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="subtract" style="document" />
      <wsdl:input name="subtract3In">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="subtract3Out">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:documentation>instance of class webtool.soap.examples.calculator.Calculator</wsdl:documentation>
    <wsdl:port name="ICalculator" binding="tns:ICalculator">
      <soap:address location="http://ws1.parasoft.com/glue/calculator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>